:root {
  --heading-font-family: 'Shalimar', cursive;
  --default-font-family: "Poppins", sans-serif;
  --primary-color: rgb(40, 4, 58);
  --secondary-color: rgb(242, 226, 250);
  --tertiary-color:goldenrod;
}


body{
    background-color: var(--primary-color);
}
.container, .main-gallery{
  margin: 30px auto;
  background-color: var(--secondary-color);
  padding: 10px;
  max-width:95%;
  border-radius:10px;
 box-shadow: 0 10px 20px 0 rgba(200, 242, 242, 0.2), 0 6px 20px 0 rgba(249, 244, 244, 0.19);
}
header{
padding:20px 20px; 
background-image: url(/images/freepik1.jpg); 
   background-size: cover;
   background-repeat: no-repeat;
  border-radius: 10px;
  max-width:100%
}


.navibar{
  background-color: none !important;
  display: flex;
}

.nav-link{
    color: var(--primary-color)!important;

}

header h2{
    font-size:80px;
    max-width:100%;
    color:var(--secondary-color);
    text-shadow:  0 10px 20px var(--primary-color);
    font-family: 'Alfa Slab One', serif;
    padding-bottom: 5px;
    text-align: end;
}

#chiquiat{
text-align: center;
 font-family:  'Shalimar', cursive;
 font-size: 450px;
font-stretch: extra-expanded;
line-height: 0.4;
 color:var(--tertiary-color);
 text-shadow: 0 5px 8px var(--primary-color);
}
#artofchiquiat{
  text-align: center;
 font-family:  'Shalimar', cursive;
 font-size: 200px;
font-stretch: extra-expanded;
line-height: 0.4;
 color:var(--tertiary-color);
 text-shadow: 0 5px 8px var(--primary-color);
}
header p{
  text-align: end;
  margin-top: 30px;
  display: block;
   
}
.link-button{
  color: var(--tertiary-color);
  font-size:12px;
  text-shadow: 2px 4px 8px var(--secondary-color);
  text-decoration: none;
  background-color: rgb(87, 5, 41);
  padding: 10px 10px;
  border-radius: 10px;
  box-shadow: 0 5px 8px var(--primary-color);
   }

footer{
    text-align: center;
    display: block;
    margin: 50px auto 10px auto;
    font: var(--primary-color);
    font-size: 12px;
    }
    .active {
  font-weight: bolder;
  color: goldenrod !important;
}
 
main h3{
  padding:60px 20px 20px 20px;
  font-family: var(--default-font-family);
  line-height:1.5;
  color: rgb(87, 5, 41);
  text-shadow:  0 10px 20px var(--secondary-color);
  
}
.social-icons{
  color:  #ba0669;
   text-shadow:  0 8px 7px rgb(133, 129, 129);
   font-size: 75px;
   margin:0 auto;
   padding: 30px;     
}
.social-icontainer{
   display:flex;
   margin: 0 auto;
   justify-content: center;
   padding: 20px;
   max-width:400px;
   text-align:center;
  }

  #big-image{
   border-radius: 6px;
   transition: transform 0.3s ease;
  }
#big-image:hover {
  transform: scale(1.5);
}
  .subheader{
   text-align: center;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-weight: bold;
   margin-top: 20px;
   margin-bottom: 0;

  }

  .row-background{
  background-color:rgb(98, 5, 73);
  padding: 10px;
  max-width:95%;
  border-radius:10px;
 box-shadow: 0 10px 20px 0 rgba(200, 242, 242, 0.2), 0 6px 20px 0 rgba(249, 244, 244, 0.19);
  }

 @media only screen and (max-width: 1175px) and (min-width: 800px) {
    #chiquiat{
 font-size: 300px;
}
  }

 @media only screen and (max-width: 800px) and (min-width: 575px) {
       #chiquiat{
 font-size: 200px;}
 header h2{
    font-size:50px;
}
.social-icons{
   font-size: 50px;
   padding: 10px;

}}

 @media only screen and (max-width: 575px) and (min-width: 450px) {
       #chiquiat, #artofchiquiat{
 font-size: 160px;}
 header h2{
    font-size:40px;
}
.social-icons{
   font-size: 40px;
   padding: 10px;

}
}

   @media only screen and (max-width: 450px) and (min-width: 400px) {
       #chiquiat , #artofchiquiat{
 font-size: 140px;}
 header h2{
    font-size:30px;}
.social-icons{
   font-size: 40px;
   padding: 5px;

}

.link-button{
    font-size:10px;
  }}

   @media only screen and (max-width: 400px) and (min-width: 360px) {
       #chiquiat, #artofchiquiat{
 font-size: 120px;}
 header h2{
    font-size:20px;}

    .social-icons{
   font-size: 40px;
   padding: 5px;

}
.link-button{
    font-size:8px;
  }}

 @media only screen and (max-width: 360px) and (min-width: 320px) {
    #chiquiat, #artofchiquiat
    {font-size: 110px;}
 header h2{
    font-size:20px;}

     .social-icons{
   font-size: 40px;
   padding: 5px;

}
    .link-button{
    font-size:8px;
  }}

 @media only screen and (max-width: 320px) and (min-width: 280px) {
    #chiquiat, #artofchiquiat
    {font-size: 95px;}
 header h2{
    font-size:20px;}
    .social-icons{
   font-size: 40px;
   padding: 5px;

}
    .link-button{
    font-size:8px;
  }}

   @media screen and (max-width: 280px)  {
  
    #chiquiat, #artofchiquiat{
      font-size: 70px;
      font-family:var(--heading-font-family);
  }
 header h2{
    font-size:25px;
 }
 .social-icons{
   font-size: 40px;
   padding: 5px;

}
    .link-button{
    font-size:7px;
    padding:5px;
  }}


